.DS_Store
Thumbs.db
desktop.ini
Desktop.ini

*.swp
*.exe
*.out
*.app
*.dll
*.p1
*.p2
*.p3
*.pxf
*.pem

/bin
/pkg
/vendor
/.cache
*.code-workspace
*.iml

*.log
*.log.*
*.tmp

.idea
/.zshrc
/.zsh_history
/docker-compose.yml
/Dockerfile
